<ul class="nav nav-pills mb-4 gap-2">
  <li class="nav-item"><a class="btn btn-sm {{ 'btn-chili' if request.endpoint == 'lojista.settings_store' else 'btn-outline-secondary' }}" href="{{ url_for('lojista.settings_store') }}">Loja</a></li>
  <li class="nav-item"><a class="btn btn-sm {{ 'btn-chili' if request.endpoint == 'lojista.settings_menu' else 'btn-outline-secondary' }}" href="{{ url_for('lojista.settings_menu') }}">Cardápio &amp; Link</a></li>
  <li class="nav-item"><a class="btn btn-sm {{ 'btn-chili' if request.endpoint == 'lojista.settings_hours' else 'btn-outline-secondary' }}" href="{{ url_for('lojista.settings_hours') }}">Horário</a></li>
  <li class="nav-item"><a class="btn btn-sm {{ 'btn-chili' if request.endpoint == 'lojista.settings_checkout' else 'btn-outline-secondary' }}" href="{{ url_for('lojista.settings_checkout') }}">Checkout</a></li>
  <li class="nav-item"><a class="btn btn-sm {{ 'btn-chili' if request.endpoint == 'lojista.settings_appearance' else 'btn-outline-secondary' }}" href="{{ url_for('lojista.settings_appearance') }}">Aparência</a></li>
  <li class="nav-item"><a class="btn btn-sm {{ 'btn-chili' if request.endpoint == 'lojista.settings_subscription' else 'btn-outline-secondary' }}" href="{{ url_for('lojista.settings_subscription') }}">Assinatura</a></li>
</ul>
